.Cap {
    width: 175px;
    height:155px;
}
.Durk {
    width:175px;
    height:155px;
}
.Baby {
    width:175px;
    height:155px;
}
.YB {
    width:175px;
    height:155px;
   
}
body{
    background-color:grey;
    font-family:'Glrassol',cursive;
}